.env
*.pyc
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
Pipfile
.env
*.egg-info/
.installed.cfg
*.egg

# Serverless directories
.serverless

config.py

*.env
*config.py
*serverless.yaml
*Pipfile
node_modules

serverless.yaml
test.sh
__pycache__/
package-lock.json
package.json
/staticfiles/*
/static/*
celerybeat-schedule
